<!DOCTYPE html>

<html>
<head>
	<%- include('template/head') %>
  <link rel="stylesheet" href="/FAQ.css">
  <script src="/FAQ.js"></script>
</head>

<body>

	<%- include('template/navbar') %>

  <div class= "problem__wrapper">
	  <section class="problems">
	  	<h2 class="problems__title">FAQ-常見問題</h2>
	  	<div class="problems__block">
        <% for (const FAQ of FAQs) { %>
          <div class= "problem__instance">
            <div class= "problem__instance-number">Q<%= FAQ.serial %>:</div>
            <div class= "problem__instance-qa">
              <div class= "problem__instance-q"><%= FAQ.question %></div>
              <div class= "problem__instance-ans"><%= FAQ.answer %></div>
            </div>
          </div>
        <% } %>
	  	</div>
	  </section>  
  </div>

  <%- include('template/footer') %>

</body>
</html>